<div class="container-fluid mynews-container">

    <div class="row">
        <div class="col col-lg-3 col-sm-12 border-right">
            <h3 class="urgroups">Your Groups</h3>
             <ul class="nav flex-column">
                <li class="nav-item" [class.active]="group.groupId == getGroupId" *ngFor="let group of groups;">
                    <!-- {{group.groupId | json  }} =={{getGroupId}} -->
                    <a class="nav-link" href="javascript:void(0)"
                        (click)="handleChange(group.groupId,group.name)">{{group.name}}</a>
                </li>
               <li *ngIf="groups == 0">
                You are not joined in any group. Please join in intrested group
               </li>
            </ul>
        </div>
        <div class="col col-lg-6 col-sm-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3><span class="glyphicon glyphicon-comment"></span> {{getGroupName | uppercase}} Group Discussion</h3>
                </div>
                <div class="panel-body">
                    <div class="panel-footer">
                        <form action="" #addtextmessage [formGroup]="addmessage">
                            <div class="input-group">

                                <input id="btn-input" formControlName="message" type="text"
                                    class="form-control input-sm" placeholder="Type your message here..." />
                                <span class="input-group-btn">
                                    <button [disabled]="addmessage.invalid"  (click)="addMessage()" type="button" class="btn btn-primary"
                                        id="btn-chat">
                                        Send</button>
                                </span>

                            </div>
                        </form>
                    </div>
                    <ul class="chat">
                        <li [ngClass]="even ? 'even' : 'odd'" class="clearfix"
                            *ngFor="let message of messages; let i = index; let odd=odd; let even=even;"><span
                                class="chat-img " [ngClass]="even ? 'pull-left' : 'pull-right'">
                                <img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar"
                                    class="img-circle" />
                            </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font" *ngIf="even">{{message.username}}</strong> <small
                                        class="pull-right text-muted" *ngIf="odd" [ngClass]="even ? 'pull-right' : ''">
                                        <span class="glyphicon glyphicon-time"></span>12 mins ago</small>
                                    <strong class="primary-font" *ngIf="odd">{{message.username}}</strong>
                                    <small class="pull-right text-muted" *ngIf="even"
                                        [ngClass]="even ? 'pull-right' : ''">
                                        <span class="glyphicon glyphicon-time"></span>12 mins ago</small>
                                </div>
                                <p>
                                    {{message.message}}
                                </p>
                            </div>
                        </li>
                        <li *ngIf="messages == 0">No Message in this group </li>

                    </ul>
                </div>

            </div>
        </div>
        <div class="col col-lg-3 col-sm-12 border-left">
            <h3 class="urgroups">Suggested Groups</h3>
            <div class="row">
                <div class="col-12 p-1" *ngFor="let group of grouplist;">
                    <div class="card">

                        <div class="card-body">

                            <h5 class="card-title">{{group.name}} </h5>
                            <p class="card-text">{{group.desc}}
                            </p>
                            <button class="btn btn-primary " type="button" pButton label="Confirm" (click)="joinGroup(group)">Join</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<p-toast position="center" key="c" (onClose)="onReject()" [modal]="true" [baseZIndex]="5000">
        <ng-template let-message pTemplate="message">
            <div style="text-align: center">
                <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
                <h3>{{message.summary}}</h3>
                <p>{{message.detail}}</p>
            </div>
            <div class="ui-g ui-fluid">
                <div class="ui-g-6">
                    <button type="button" pButton (click)="onConfirm()" label="Yes" class="btn btn-primary">Confirm</button>
                </div>
                <div class="ui-g-6">
                    <button type="button" pButton (click)="onReject()" label="No" class="btn btn-secoundary">Don't Join</button>
                </div>
            </div>
        </ng-template>
    </p-toast>