<nav class="navbar navbar-expand-lg navbar-light mybg-blue">
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="javascript:void(0)" class="nav-link" [routerLink]="['/home']"
                    routerLinkActive="router-link-active">Home <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
    <div class="pull-right">
        <ul class="navbar-nav">
            <li class="nav-item">
                Welcome <i><b>{{username}}</b></i>
            </li>
            &nbsp;
            <li class="nav-item" *ngIf="username">
              <button class="btn btn-primary" (click)="clearUserSession()">LogOut</button>  
            </li>
        </ul>

    </div>
</nav>