<div class="row justify-content-center ">
    <div class="col6 align-self-center login-container">
        <form [formGroup]="loginform" (ngSubmit)="loginSubmit($event)">
            <h2 class="center text-capitalize">{{identity}} Login</h2>
            <div class="form-group">
                <label for="exampleInputEmail1">User Name</label>
                <input type="text" formControlName="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="UserName">
                <!-- <small id="emailHelp" class="form-text text-muted">Your user   </small> -->
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" formControlName="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>          
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>